body {
  display: block;
  margin: 0 auto;
  padding-top: 40px;
  font-family: monospace;
  background-color: black;
}

button {
  color: rgb(216, 180, 248);
  font-weight: 15px;

  border-radius: 4px;

  background: white;

  transform: all 220ms ease-in-out;
  border: none;
  box-shadow: 5px 5px 10px rgb(28, 4, 32);
}

.bottom-link {
  text-align: center;
  color: blueviolet;
  font-family: "Pixelify Sans", cursive;
}
button:hover {
  transform-style: pointer;
  background-color: aliceblue;
  color: rgb(215, 172, 255);
  transform: all 220ms ease-in-out;
  font-family: "Pixelify Sans", cursive;

  font-size: 12px;
}

.geolocation-current {
  text-align: center;
  font-weight: smaller;
  position: relative;
  bottom: -50px;
  top: -120px;
}

input[type="text"] {
  border-radius: 15px;
  border: 1px solid rgb(216, 180, 248);
  font-weight: bold;
  max-width: 200px;
  background-image: radial-gradient(592px at 48.2% 50%, rgb(230, 200, 255)) 0%,
    rgb(219, 204, 231) 74.6%;
  box-shadow: 5px 5px 10px rgb(147, 102, 156);
}
.dark input[type="text"] {
  background-color: rgb(46, 46, 46);
  color: blueviolet;
}

input[type="submit"] {
  color: white;
  border-radius: 15px;
  max-width: 200px;
  background: radial-gradient(
    592px at 48.2% 50%,
    rgb(216, 180, 248) 0%,
    rgb(0, 0, 0) 74.6%
  );
  transform: all 220ms ease-in-out;
  border: none;
  box-shadow: 5px 5px 10px rgb(28, 4, 32);
}

input[type="submit"]:hover {
  transform-style: pointer;
  background-color: aliceblue;
  color: rgb(215, 172, 255);
  transform: all 220ms ease-in-out;
  font-family: "Pixelify Sans", cursive;
  font-size: 12px;
}

h1 {
  font-size: 40px;
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 50px;
  color: rgb(251, 240, 178);
  text-shadow: 10px 10px 20px rgb(239, 226, 241);
  font-family: "Rubik Puddles", cursive;

  cursor: default;
}

h1:hover {
  color: rgb(216, 180, 248);
  transform: all 225ms ease-in-out;

  cursor: default;
  text-shadow: 10px 10px 20px rgb(255, 255, 255);
}

.intro {
  text-align: center;
  animation: blinking 2.6s infinite;
  font-size: 13px;
}
@keyframes blinking {
  0% {
    color: rgb(115, 96, 133);
  }

  97% {
    color: transparent;
  }
  100% {
    color: #926ac0;
  }
  color: rgb(185, 146, 216);
  font-family: "Pixelify Sans", cursive;
}

.bubble {
  max-width: 180px;
  max-height: 60px;
  border-radius: 9px;
  box-shadow: 9px 9px 20px rgb(160, 139, 173);

  color: #fff;

  margin: 0 auto;

  display: block;
}

h2 {
  font-size: 20px;
  text-align: center;
  font-weight: 700px;
  color: rgb(185, 146, 216);

  margin: auto;
  display: block;
  background: radial-gradient(
    592px at 48.2% 50%,
    rgb(216, 180, 248) 0%,
    rgb(202, 237, 255) 74.6%
  );
  box-shadow: 5px 5px 10px rgb(205, 168, 212);
  max-width: 50%;
  border-radius: 12px;
  cursor: default;
}

search {
  border-radius: 12px;
}

.dark h2 {
  box-shadow: 10px 10px 20px rgb(83, 15, 114);
}

h3 {
  font-size: 40px;
  font-weight: bolder;
  
  color: rgb(91, 43, 153);
  bottom: 50px;
  cursor: default;
  text-shadow: 5px 5px 5px rgb(190, 132, 224);
  font-family: "Pixelify Sans", cursive;
}

.dark h3 {
  color: blueviolet;
  text-shadow: 10px 10px 20px rgb(83, 15, 114);
}

p {
  font-size: large;
  color: rgb(185, 146, 216);

  font-weight: 800;
}

em {
  cursor: default;
  font-family: "Pixelify Sans", cursive;
  color: rgb(91, 43, 153);
}

strong {
  font-family: "Pixelify Sans", cursive;
  color: rgb(147, 118, 184);
}
strong:hover {
  color: rgb(209, 178, 238);
  transform: all 220ms ease-in-out;
  scale: calc(1.5);
  cursor: default;
  font-family: "Pixelify Sans", cursive;
}

.container-sm {
  border: 1px solid rgb(216, 180, 248);
  box-shadow: 10px 10px 20px rgb(255, 199, 234, 0.3);
  border-radius: 12px;
  text-align: center;
  padding-top: 20px;
  text-align: center;
  max-width: 65%;
  min-width: 200px;
  min-height: 200px;
  margin: 0 auto;

  background-color: rgb(0, 0, 0);
  background: linear-gradient(250deg, rgb(216, 180, 248), rgb(255, 199, 234));
}
.main-icon {
  font-size: 50px;
  color: rgb(237, 222, 248);
  position: relative;
  bottom: 300px;
  text-shadow: 10px 10px 20px rgb(133, 107, 138);
  background: none;
  border-radius: 15px;
}
.main-icon:hover {
  transform: all 220ms ease-in-out;
}

.container .row {
  position: relative;
  left: -320px;
  top: -50px;
  bottom: 50px;
  cursor: default;
}

.icons-2 {
  font-size: 30px;
  text-shadow: 10px 10px 20px rgb(236, 224, 238);
}

.icons-2:hover {
  color: rgb(216, 180, 248);
  transform: all 220ms ease-in-out;
  scale: calc(1.5);

  cursor: default;
}

a {
  color: plum;
}
a:hover {
  color: rgb(231, 141, 195);
  transform: all 225ms ease-in-out;
  scale: calc(1.2);
  cursor: pointer;
  text-shadow: 1px 1px 20px rgb(255, 199, 234);
}

.units {
  font-size: 20px;
  position: relative;
  color: rgb(91, 43, 153);
   top: -40px;
  right: -50px;
  font-family: "Pixelify Sans", cursive;
}

#temperature {
  text-shadow: 10px 10px 20px rgb(255, 255, 255);
}

.dark #temperature {
  text-shadow: 10px 10px 20px rgb(83, 15, 114);
}

.dark h4 {
  text-shadow: 10px 10px 20px rgb(83, 15, 114);
}

.container-fluid {
  font-size: 10px;

  border-radius: 12px;
  font-weight: bolder;

  color: rgb(224, 224, 224);
  text-shadow: 10px 10px 20px rgb(250, 226, 255);
  font-family: "Press Start 2P", cursive;
  cursor: default;
}

.navbar {
  max-width: 65%;
  border-radius: 12px;
  border-width: 1px;
  margin: auto;
  display: block;

  min-width: 200px;
}

.navbar-brand {
  color: rgb(255, 199, 234);
  font-size: 30px;
  text-shadow: 1px 1px 10px rgb(216, 180, 248);
  font-family: "Rubik Puddles", cursive;

  max-width: 50%;
}

.dropdown-item {
  font-size: 10px;
}

.weather-forecast {
  position: relative;
  bottom: -100px;
  font-family: "Press Start 2P", cursive;
  font-size: 15px;
}

.dark .weather-forecast {
  color: aliceblue;
}

.conditions {
  font-family: "Press Start 2P", cursive;
  font-size: 15px;
}

.dark .conditions {
  color: aliceblue;
}

.description {
  font-family: "Press Start 2P", cursive;
  font-size: small;
  
}

.about-info {
  text-align: center;
  font-size: large;
  max-width: 300px;
  margin: auto;
  display: block;
  color: rgb(28, 4, 32);
}

.about-title {
  font-family: "Press Start 2P", cursive;
}

.cute-gif {
  border-radius: 15px;
}

.rainbow-gif {
  text-align: center;
}

.dark .container-sm {
  background: rgba(225, 225, 225, 0.1);
  border-color: blueviolet;
}

.dark body {
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(36, 20, 31));
  color: rgb(255, 255, 255);
}

.dark a {
  color: blueviolet;
}

.dark h1 {
  color: blueviolet;
  text-shadow: 10px 10px 20px rgb(83, 15, 114);
}

.dark-mode {
  font-size: 12px;
  background-color: rgb(0, 0, 0);
  color: blueviolet;
  position: relative;
  left: 10%;
  top: 150%;
  bottom: 5px;
}

.dark-mode:hover {
  color: rgb(0, 0, 0);
  background: blueviolet;
  text-transform: none;
}

.dark .description {
  color: aliceblue;
}

.icon-toggler {
  color: aliceblue;
  background-color: aliceblue;

  border-radius: 15px;
}

.sun-gif {
  position: relative;
  right: -155px;
  bottom: -12px;
}

@media (max-width: 480px) {
  .container-sm {
    max-width: 480px;
    text-align: center;
    scroll-behavior: smooth;
    margin-left: auto;
    margin-bottom: auto;
    border: none;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0%;
    border-radius: 0px;
  }

  .navbar {
    max-width: 100%;
    margin-top: -40px;
    border-radius: 0%;
  }

  body {
    text-align: center;

    background: #212529;

    background-size: cover;
  }

  .bottom-link {
    margin-bottom: 100px;
    padding-bottom: 0px;
    font-size: 15px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
  }

  .main-icon {
    position: relative;
    top: -280px;
  }

  .intro {
    font-size: 15px;
    text-align: center;

    color: rgb(185, 146, 216);
    font-family: "Courier New", Courier, monospace;
    line-height: 14px;
    word-spacing: -3px;
    text-transform: uppercase;
  }

  .bubble {
    display: none;
  }
}

@media (max-width: 900px) {
  .bubble {
    display: none;
  }
}
